<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta data-author="Doronin Sergey" />

    <link rel="stylesheet" href="lib/jquery/jquery-ui.min.css" />
    <script src="lib/jquery/jquery-1.9.1.min.js"></script>
    <script src="lib/jquery/jquery-ui.min.js"></script>

    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="js-css/myApp.js"></script>

    <script type="text/javascript" src="js-css/constants.js"></script>
    <script type="text/javascript" src="js-css/service.js"></script>
    <script type="text/javascript" src="js-css/domains.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="js-css/style.css" />

    <title>{{subject}} {{lab}}</title>
</head>
<body ng-controller="MyCtrl">
<div class="content">

    <div class="page-header">
        <h1>{{subject}} <small>{{lab}}</small></h1>
    </div>

    <div id="drawBlock">

        <div class="left">
            <canvas id="canvasDimensional">{{notSupport}}</canvas>
        </div>

        <div class="right">
            <canvas id="canvasComplex">{{notSupport}}</canvas>
        </div>

        <div id="control-block">

            <div id="points-block">
                <span ng-repeat="p in points">
                    <input type="radio" name="point" ng-model="current.point" value="{{$index}}" ng-change="changePoint()" />
                    {{p.text}}&nbsp;&nbsp;&nbsp;
                </span>
            </div>

            <div id="sliderBlock">
                X = {{valX}} : <div id="sliderX" class="slider"></div>
                Y = {{valY}} : <div id="sliderY" class="slider"></div>
                Z = {{valZ}} : <div id="sliderZ" class="slider"></div>
            </div>

        </div>

    </div>

</div>
</body>
</html>